<div class="container text-center mt-5">
    <div class="row">
      <div id="g" class="col  border mt-5 shadow p-3 mb-5 rounded" style="background-color: rgb(65, 74, 113); border-radius: 10px;width: 400px;width: 30%;">
        <h1 style="color: white;">Sign In <i class="fa-solid fa-user-plus"></i></h1>
        <form class="">
            <input [(ngModel)]="acno" id="a1" name="acno" class="form-control p-2 mt-3" type="text" placeholder="Enter account number">
            <input [(ngModel)]="uname"  id="u1" name="uname" class="form-control p-2 mt-3" type="text" placeholder="Username">
            <input [(ngModel)]="psw"  id="p1" name="psw" class="form-control p-2 mt-3" type="password" placeholder="Password">
            <input [(ngModel)]="cpsw"  id="cp1" name="cpsw" class="form-control p-2 mt-3" type="password" placeholder="Confirm password">

            <button (click)="signup()" type="submit" class="btn btn-light pt-2 mt-3">SignIn</button><br>
        
        </form>

      </div>
      <div class="col">
        <img id="g" style="height: 400px; width: 500px; margin-top: 30px; border-radius: 10px;" src="https://i.postimg.cc/J0Z7GpVW/know-the-rights-of-bank-customers-717x404.jpg" alt="">

      </div>
    </div>
  </div>